**/.git
**/.vs
**/.idea
**/.vscode
**/bin
**/obj
LetterTemplatePractice/Logs
**/*.user
**/*.suo
**/node_modules
**/appsettings.Development.json
**/appsettings.*.json
!**/appsettings.json
.dotnet/
.nuget/
README.md
Dockerfile
.dockerignore